{include file="public/header"} 

<div class="self-container mt-3">
    <h3>产品添加</h3>
     <form action="{:url('save_content')}" method="post" enctype="multipart/form-data">
        <div class="form-group">
              <label >产品名称</label>
              <div  >
                  <input type="text" class="form-control" name="chanpin_name">
              </div>
        </div>
        <div class="form-group">
            <label >简介</label>
            <div  >
              <input type="text" class="form-control" name="summary">

            </div>
        </div> 
        <div class="form-group">
            <label >金额</label>
            <div  >
              <input type="text" class="form-control" name="chanpin_money">
            </div>
        </div>
        <div class="form-group">
            <label >详情内容</label>
            <div  >
              <textarea name="chanpin_info" style="height: 380px;width:700px;"></textarea>
            </div>
        </div>
        <div class="form-group">
              <input type="hidden" name="cread_id" value="{$cread_id}">
              <input type="submit" class="btn btn-info" value="添加">
        </div>
     </form>
</div>

{include file="public/footer"}