{include file="public/header"} 
<a href="{:url('add_student')}"><button class="btn btn-info">添加学生</button></a>
<div class="search_form">
    <form class="form" action="{:url('index')}">
        <input type="text" name="uname" class="btn btn-control" value="{$uname}" placeholder="请输入姓名">
        <input type="text" name="school_name" class="btn btn-control" value="{$school_name}" placeholder="请输入学校">
        <button type="submit" class="btn btn-primary">搜索</button>
    </form>
</div>
<p></p> 
<div class="mt-3">
    <table class="table table-hover table-striped table-condensed">
        <tr>
            <th>姓名</th>
            <th>报名时间</th>
            <th>支付状态</th>
            <th>报名费</th>
            <th>学校</th>
            <th>年级</th>
            <th>订单号</th>
            <th>操作</th>
        </tr>
        {foreach $stu_list as $stu}
        <tr>
        <td>{$stu['xm']}</td>
            <td>{$stu['add_time']|date="Y-m-d",###}</td>
            <td>
            {if $stu['is_pay']==0}
                <span style="color:red">{$pay_status[$stu['is_pay']]}</span>
                {elseif $stu['is_pay']==1}
                <span style="color:orange">{$pay_status[$stu['is_pay']]}</span>
                {elseif $stu['is_pay']==2}
                <span style="color:green">{$pay_status[$stu['is_pay']]}</span>
                {else}
                {/if}
            </td>
            <td>{$stu['money']}</td>
            <td>{$stu['school']}</td>
            <td>{$stu['grade']}</td>
            <td>{$stu['out_trade_no']}</td>
            <td>
            <a href="{:url('edit_stu', ['sel_id' => $stu['id']])}"><button type="button" class="btn btn-primary btn-sm">编辑</button></a>
                <a href="{:url('del_stu', ['sel_id' => $stu['id']])}"><button type="button" class="btn btn-danger btn-sm">删除</button></a>
            </td>
        </tr>
        {/foreach}
    </table>
    <div>
        {$stu_list->render()}
    </div>
</div>
<script>

</script>
{include file="public/footer"}