{include file="public/header"} 

<div class="self-container mt-3">
    <h3>提交作业详情页</h3>
     <form action="{:url('update')}" method="post" enctype="multipart/form-data">  
       <input type="text" class="form-control" name="id" value="{$homeworkresult_list_one['id']}" style="display: none;">
        <div class="form-group">
            <strong>用户编号</strong>
         <p> {$homeworkresult_list_one['u_id']}</p>
        </div>
        <div class="form-group">
            <strong>用户名称</strong>
            {foreach $username as $v}
            <p>{$v['user_name']}</p>
            {/foreach}
        </div>
        <div class="form-group">
            <strong>作业编号</strong>
           <p>{$homeworkresult_list_one['hw_id']}</p>
        </div>
        <div class="form-group">
            <strong>作业名称</strong>
            {foreach $title as $vv}
            <p>{$vv['tc_title']}</p>
            {/foreach}
        </div>           
        <div class="form-group">
            <strong>提交时间</strong>
            <p>{$homeworkresult_list_one['time']|date="Y-m-d H:i",###}</p>
        </div> 
         <div class="form-group">
            <strong>老师回复</strong>
          <p>{$homeworkresult_list_one['reply']}</p>
        </div> 
        <div class="form-group">
            <strong>完成程度</strong>
       <p>{$homeworkresult_list_one['progress']}</p>
        </div> 
        <div class="form-group">
            <strong>完成时长</strong>
            <p>{$homeworkresult_list_one['hao_time']}</p>
        </div> 
        <div class="form-group">
            <strong>正确率</strong>
           <p>{$homeworkresult_list_one['correct']}</p>
        </div> 
        <style type="text/css">
            .bbb img{width: 100%}
        </style>
        <div class="form-group">
            <strong>学生答案</strong>
          <p class="bbb"> {$homeworkresult_list_one['s_homework']}</p>
        </div> 
        <div class="form-group">
            <p class="tishi" style="display: none;"></p>
            <strong>正确答案</strong>
             <p>{$homeworkresult_list_one['result']}</p>
        </div>
        <div class="form-group">
            <a class="btn btn-default" href="{:url('index')}" role="button">返回</a>
        </div>
     </form>
</div>


<script type="text/javascript" src="__PUBLIC__/static/admin/jquery.datetimepicker.full.js"></script>

<link rel="stylesheet" href="__PUBLIC__/static/admin/jquery.datetimepicker.css">

<script type="text/javascript">
<!-- 实例化编辑器 -->

    $.datetimepicker.setLocale('ch');
    $('.datetimepicker').datetimepicker();
$(function(){
    var starTime =''
    $('[name=starTime]').on('blur',function(){
        var result = $(this).val();
        var starTime = Date.parse(result)/1000
        return starTime
    })
    console.log(starTime)
    var endTime = $('[name=endTime]').on('blur',function(){
        var result = $(this).val();
        var endTimme = Date.parse(result)/1000
        return endTimme
    })
    

})

    
   

</script>
{include file="public/footer"}