{include file='public/header'}
<div class="row" >
    <a href="{:url('add')}" class="btn btn-info">添加作业</a>
    <div style="display: inline-block;float: right;margin-right: 30px;"><form>
    <select name="bj_id" style="height: 30px;margin-right: 5px;"><option value="">请选择班级</option>
    {foreach $bj as $val}
    <option {if $val['id']==$bj_id} selected {/if} value="{$val['id']}">{$val['banji_name']}</option>
    {/foreach}
    </select><input type="submit" class="btn btn-info"  value="搜索">
    </form></div>
</div>

<table class="table">
    <tr>
        <th>用户编号</th>
        <th>作业编号</th>
        <th>提交时间</th>
        <th>老师回复</th>
        <th>完成程度</th>
        <th>完成时间</th>
        <th>正确率</th>
        <th  style="width:200px!important;">操作</th>
    </tr>
    {foreach $homework_result_list as $key=>$value}
    <tr>
        <td>{$value['u_id']}</td>
        <td>{$value['hw_id']}</td>
        <td>{$value['time']|date="Y-m-d H:i",###}</td>
        <td>{$value['reply']}</td>
        <td>{$value['progress']}</td>
        <td>{$hao[$key]}</td>
        <td>{$value['correct']}</td>
        <td>
            <a href="{:url('edit',['id'=>$value['id']])}" class="btn btn-info">编辑</a>
            <a href="{:url('del',['id'=>$value['id']])}" class="btn btn-danger">删除</a>
            <a href="{:url('detail',['id'=>$value['id']])}" class="btn btn-info">详细</a>
        </td>
    </tr>
    {/foreach}
<!--  -->
    
</table> <div>{$homework_result_list->render()}</div>
<div></div>
{include file='public/footer'}