{include file="public/header"} 

<div class="self-container mt-3">
    <h3>题目编辑页</h3>
    <p></p><p></p>
     <form action="{:url('update_timu')}" method="post" enctype="multipart/form-data">
         <input type="text" class="form-control" name="id" value="{$homework_list_one['id']}" style="display: none;">
        <div class="form-group">
            <strong>老师编号</strong>
            <div>{$homework_list_one['tc_id']}</div>
           <div></div>
        </div>
        <div class="form-group">
            <strong>作业题目</strong>
            <div>{$homework_list_one['work_name']}</div>  
        </div>          
        <div class="form-group">
            <strong>作业问题</strong>
            <div>{$homework_list_one['work_require']}</div>    
        </div> 
        <div class="form-group">
            <strong>题目内容</strong>
           <div> {$homework_list_one['tc_content1']}</div>  
        </div> 
        <div class="form-group">
            <strong>结答题答案</strong>
            <div>{$homework_list_one['tc_content2']}</div>  
        </div> 
        <div class="form-group">
            <strong>单选题答案</strong>
         <div>{$homework_list_one['tc_danxuan']}</div>  
        </div> 
        <div class="form-group">
            <strong>多选题答案</strong>
            <div>{$homework_list_one['tc_duoxuan']}</div>  
        </div> 
        <div class="form-group">
            <strong>判断题答案</strong>
        <div>{$homework_list_one['tc_panduan']}</div>  
        </div> 
        <div class="form-group">
            <strong>填空题答案</strong>
        <div>{$homework_list_one['tc_tiankong']}</div>  
        </div> 
        <div class="form-group">
            <a class="btn btn-default" href="{:url('index')}" role="button">返回</a>
        </div>
     </form>
</div>

{include file="public/footer"}