{include file="public/header"}
<div class="self-container mt-3">
    <h3>轮播图添加页</h3>
    <form action="{:url('update')}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label >轮播图</label>
            <div  >
                <input type="file" name="slider_img">
                <input type="hidden"  value="{$info.pic_path}" name="slider_img_old">
                <img src="__PUBLIC__{$info.pic_path}" style="width: 100px" alt=""></div>
        </div>
         <div class="form-group">
            <label >链接</label>
            <div  >
                <input type="text" name="link_url" value="{$info.link_url}">
            </div>
        </div>
        <div class="form-group">
            <label >幻灯片分类</label>
            <div >

                <select name="cate">
                    <option value="">请选择分类</option>
                    <?php
                    $cate_menu = getSlideCate();
                   ?>
                    {foreach $cate_menu as $key=>$cate}
                    <option value="{$key}" {if $info.cate == $key} selected=""{/if}>{$cate}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="form-group">
            <input type="hidden"  value="{$info.id}" name="id">

            <input type="submit" class="btn btn-info" value="更新"></div>
    </form>
</div>
{include file="public/footer"}