{include file="public/header"} 

<div class="mt-3">
    <form class="form-inline" style="margin:20px 0;" action="">
      <div class="form-group">
        <label>作者</label>
        <input type="text" class="form-control" name="real_name" placeholder="Jane Doe" value="{$real_name}">
      </div>
      <button type="submit" class="btn btn-primary">搜索</button>
    </form>
    <table class="table">
        <tr>
            <th>编号</th>
            <th>头条</th>
            <th>前言</th>
            <th>作者</th>
            <th>操作</th>
        </tr>
        {foreach $headline_list as $value}
        <tr>
            <td>{$value['id']}</td>
            <td title="{$value['title']}">{$value['title']}</td>
            <td title="{$value['summary']}">{$value['summary']}</td>
            <td title="{$value['real_name']}">{$value['real_name']}</td>
            <td>
                <a href="{:url('delete',['id'=>$value['id']])}" class="btn btn-danger">删除</a>
            </td>
        </tr>
        {/foreach}
    </table>
    <div>
        {$headline_list->render()}
    </div>
</div>
<script>
    
</script>
{include file="public/footer"}