{include file="public/header"} 

<div class="mt-3">

    <table class="table">
        <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>学校</th>
            <th>年级</th>
            <th>点赞</th>
            <th>偷听</th>
            <th>操作</th>
        </tr>
        <!--emmit快捷键-->
       {foreach $jidi_data as $item}
        <tr>
            <td>{$item.id}</td>
            <td>{$item['xm']}</td>
            <td>{$item.school}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {/foreach}
    </table>
    <div>
    </div>
</div>
<script>
    
</script>
{include file="public/footer"}