{include file="public/header"} 

<div class="self-container mt-3">
    <h3>作业添加页</h3>
     <form action="{:url('save')}" method="post" enctype="multipart/form-data">  
        <div class="form-group">
            <label >题目编号</label>
            <input type="text" class="form-control" name="homework_add_id">
        </div>
        <div class="form-group">
            <label >老师编号</label>
            <input type="text" class="form-control" name="tc_id">
        </div>          
        <div class="form-group">
            <label >作业名称 </label>
            <input type="text" class="form-control" name="tc_title">
        </div> 
        <div class="form-group">
            <label >发布时间</label>
            <input class="datetimepicker" type="text" name="now_time">
        </div> 
        <div class="form-group">
            <p class="tishi" style="display: none;"></p>
            <label >开始与结束时间</label>
            <input class="datetimepicker" type="text" name ="s_time">&nbsp;&nbsp;至&nbsp;&nbsp;
            <input class="datetimepicker" type="text" name="e_time">
        </div>
 
        <div class="form-group">
            <label >班级编号</label>
            <input type="text" class="form-control" name="banji">
        </div> 

        <div class="form-group">
            <input type="submit" class="btn btn-info" value="添加">
        </div>
     </form>
</div>


<script type="text/javascript" src="__PUBLIC__/static/admin/jquery.datetimepicker.full.js"></script>

<link rel="stylesheet" href="__PUBLIC__/static/admin/jquery.datetimepicker.css">

<script type="text/javascript">
    $.datetimepicker.setLocale('ch');
    $('.datetimepicker').datetimepicker();
$(function(){
    var starTime =''
    $('[name=starTime]').on('blur',function(){
        var result = $(this).val();
        var starTime = Date.parse(result)/1000
        return starTime
    })
    console.log(starTime)
    var endTime = $('[name=endTime]').on('blur',function(){
        var result = $(this).val();
        var endTimme = Date.parse(result)/1000
        return endTimme
    })
    

})

    
   

</script>
{include file="public/footer"}