{include file="public/header"} 

<div class="self-container mt-3">
    <h3>作业详细页</h3>
     <p></p><p></p>
     <form action="{:url('update')}" method="post" enctype="multipart/form-data">  
       <input type="text" class="form-control" name="id" value="{$homeworkrel_list_one['id']}" style="display: none;">
        <div class="form-group">
            <strong>题目编号</strong>
          <p>{$homeworkrel_list_one['homework_add_id']}</p>
        </div>
        <div class="form-group">
            <strong>题目内容</strong>
            {foreach $homework as $value}
          <p>{$value.tc_content1}&nbsp;&nbsp;&nbsp;&nbsp;</p>
            {/foreach}
        </div>
        <div class="form-group">
            <strong>作业名称 </strong>
       <p> {$homeworkrel_list_one['tc_title']}</p>
        </div> 
         <div class="form-group">
            <strong>发布时间</strong>
           <p> {$homeworkrel_list_one['now_time']|date="Y-m-d H:i",###}</p>
        </div> 
        <div class="form-group">
            <p class="tishi" style="display: none;"></p>
            <strong>开始与结束时间</strong>
            <p>{$homeworkrel_list_one['s_time']|date="Y-m-d H:i",###}&nbsp;&nbsp;至&nbsp;&nbsp;
         {$homeworkrel_list_one['e_time']|date="Y-m-d H:i",###}</p>
        </div>
        <div class="form-group">
            <strong>班级编号</strong>
            <p>{$homeworkrel_list_one['banji']}</p>
        </div> 
        <div class="form-group">
            <strong>班级名称</strong>
           <p>{$banji['banji_name']}</p>
        </div> 
        <div class="form-group">
            <a class="btn btn-default" href="{:url('index')}" role="button">返回</a>
        </div>
     </form>
</div>

{include file="public/footer"}